.App {
  display: flex;
  flex-direction: column;
}

.Filtering {
  display: flex;
  flex-direction: row;
}

.FilteringItem {
  display: flex;
  flex-direction: row;
  border: 1px solid #00000040;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.Table {
  border-spacing: 0;
}

.Table .Row {
}

.Table .Row:first-child .Cell {
  border-top: 1px solid #c0c0c0;
}

.Table .Cell:first-child {
  border-left: 1px solid #c0c0c0;
}

.Table .Cell {
  border-right: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
}

.Table tbody .Row:first-child .Cell {
  border-top: 0;
}

.Table .HeaderRow {

}

.Table .HeaderCell {
  background-color: #f0f0f0;
}

.Table .HeaderColumnCell .Sort {

}

.Table .HeaderColumnCell .Sort.disabled {
  cursor: default;
}

.Table .Filter:before {
  content:'';
  margin-left: 5px;
}
